---
import Layout from '../layouts/Layout.astro'
---

<Layout color="orange">
	<div class="flex h-[100vh] w-full justify-center items-center p-5">
		<div class="bg-white p-5 py-2 max-w-[1200px] w-full rounded-xl border-2 border-black flex flex-col justify-center items-center text-xl text-center md:text-3xl gap-3 md:gap-5">
			<div>
				you can contact me at <a href="mailto:aquaticcalf@proton.me" class="underline">aquaticcalf@proton.me</a> 
			</div>
			<div>
				or on twitter <a href="https://x.com/aquaticcalf" target="_blank" class="underline">@aquaticcalf</a>
			</div>
		</div>
	</div>
</Layout>