---

---
<div class="p-5 flex justify-center items-center fixed w-full">
    <div class="bg-white p-5 py-2 max-w-[1200px] w-full rounded-xl border-2 border-black flex justify-center items-center">
        <div>logo</div>
        <div class="grow hidden md:block"></div>
        <div class="gap-4 hidden md:flex">
            <a href="/" class="bg-green-300 py-2 px-6 rounded-lg border-2 border-black border-b-4 hover:border-b-2">Home</a>
            <a href="about" class="bg-red-300 py-2 px-6 rounded-lg border-2 border-black border-b-4 hover:border-b-2">About</a>
            <a href="contact" class="bg-orange-300 py-2 px-6 rounded-lg border-2 border-black border-b-4 hover:border-b-2">Contact</a>
            <a href="faq" class="bg-blue-300 py-2 px-6 rounded-lg border-2 border-black border-b-4 hover:border-b-2">FAQ</a>
        </div>
    </div>
</div>