---
interface color_props {
    color?: "red" | "blue" | "green" | "orange"
}

const { color }: color_props = Astro.props

const color_classes = {
    red: "bg-red-400 h-[300vh]",
    blue: "bg-blue-400 h-[300vh]",
    green: "bg-green-400 h-[300vh]",
    orange: "bg-orange-400 h-[300vh]",
}

const color_class = color_classes[color ?? "red"] || "bg-gray-400 h-[300vh]"
---

<div class={color_class}></div>
