---
import Nav from '../components/Nav.astro'
const { frontmatter } = Astro.props
const color = frontmatter ? frontmatter.color : Astro.props.color
const bgclass = color ? `bg-${color}-400 min-h-screen max-w-[1400px] m-auto` : 'bg-gray-400 min-h-screen max-w-[1400px] m-auto'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>wannabe dev</title>
	</head>
	<body class={bgclass}>
		<Nav />
		<slot />
	</body>
</html>
